.toolbar{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.toolbar__section {
    display: flex;
    border: 2px solid #b9eb8e;
    border-radius: 5px;
}

.toolbar__section .icon-btn{
    padding: 5px;
    background-color: transparent;
    border: none;
    transition: .2s ease;
}

.toolbar__section .icon-btn:hover {
    background-color: #b9eb8e;
    transition: .2s ease;
}

.toolbar__section .selected{
    background-color: #b9eb8e;
}

.color-btn label { 
    
    display: flex; 
    align-items: center; 
    gap: 8px;
}