.board{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
}

.toolbar__container{
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.board .clr-btn {
    display: block;
}

svg path:hover {
    border: 2ps solid #000;
}